@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script>
    $(document).ready(function(){
        $("#signin").click(function(){
            let form=$('form').serializeArray();
            console.log(form)
            $.ajax("/Account/LogIn",{
                beforeSend:function(){
                    console.log("sending");
                },
                method:"POST",
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify({Email:form[0].value,Password:form[1].value}),
                success:function(data){
                    console.log("vamsi");
                    $("#text").html("<h3 style='color:green'>LogIn successful..</h3>");
                    setTimeout(() => $("#text").html(""), 1500);
                    localStorage.setItem("token",data.token);
                    console.log(data);
                },
                error:function(error){
                    $("#text").html(`<h3 style='color:red'>${error.responseText}</h3>`);
                    setTimeout(()=>$("#text").html(""),2000);
                    $("form").trigger("reset");
                }
            })
        });
        $("#getbooks").click(function(){
            if(localStorage.getItem("token")==null)
            window.location.href="/Home/LogIn";
            else{
            $.ajax('/Books/GetBooks',{
                method:"GET",
                headers:{
                    'token':localStorage.getItem("token")
                },
                success:function(data){
                    console.log(data);
                }
            });
            }
        });
    });
</script>
<body>
    <div class="card" style="width:350px">
        <div id="text" style="height:50px"></div>
        <form onsubmit="return false">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" name="email" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" name="password" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button  id="signin" type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
            <button id="getbooks" type="button" class="btn btn-danger btn-block mb-4">Get Books</button>
        </form>
    </div>
</body>
