@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section scripts{
    <script>
        $("#close").click(function(){
            $("#success").removeClass("show");
        });
        $("#resetPassword").click(function(){
            $.ajax("/Account/ForgetPassword?Email="+$("#typeEmail").val(),{
                type:"POST",
                beforeSend:function(){
                    $("#resetPassword b").text("please wait...");
                    $("#resetPassword span").show();
                },
                complete:function(){
                    $("#resetPassword b").text("Reset Password");
                    $("#resetPassword span").hide();
                    $("#typeEmail").val("");
                },
                success:function(data){
                    data=JSON.parse(data);
                    if(data.success==1){
                        $("#success").addClass("show");
                            $("#success").addClass("alert-success").removeClass("alert-danger");
                            $("#success p").text("Reset is successful.. checkout Your mail");
                    }
                    else{
                        $("#success p").text("Something went wrong..");
                        $("#success").addClass("alert-danger").removeClass("alert-success");
                        $("#success").addClass("show");
                    }
                },
                error:function(error){

                }
            });
        })
    </script>
}
<div id="success" style="height:50px" class="alert alert-success alert-dismissible fade" role="alert">
   <p> <strong>Resetted successfully.</strong> Please checkout your mail.</p>
    <button type="button" class="btn-close" id="close" aria-label="Close"></button>
</div>
<div class="card text-center" style="width: 400px;margin:auto;">
    
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <button id="resetPassword" class="btn btn-primary w-100" style="outline:none"><b>Reset password</b> <span style="display:none" class="spinner-border spinner-border-sm" role="status"></span></button>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="/Account/LogIn">Login</a>
            <a class="" href="/Account/SignUp">Register</a>
        </div>
    </div>
</div>