
@model SignInModel
<html>
<head>
    <title></title>
    <script type="text/javascript">
        $(document).ready(function () {
            
            var ulEmployees = $('#ulEmployees');
            $("#signin").click(function () {
                // Get the username & password from textboxes
                let formArray = $('form').serializeArray();
                var username = formArray[0].value;
                var password = formArray[1].value;
                let token;
                console.log(username + password);
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    // Make sure to change the port number to
                    // where you have the employee service
                    // running on your local machine
                    url: '/Account/LogIn',
                    data: JSON.stringify({ Email: username, Password: password }),
                    // Specify the authentication header
                    // btoa() method encodes a string to Base64
                    success: function (data) {
                        data=JSON.parse(data);
                        console.log(data);
                        //console.log(data.IsSuccess);
                        if(data.IsSuccess==1){
                            console.log(data);
                            localStorage.setItem("token",data.token);
                            $("#mytoast").show();
                            $("#mytoast").addClass("bg-success").removeClass('bg-danger');
                            $(".toast-body").html('LogIn successful..please wait..<span class="spinner-border spinner-border-sm ml-4 text-light col-xs-6" role="status"></span>');
                            setTimeout(function () { $("#mytoast").hide("slow"); window.location.href = "/Home/Index"; }, 2500);
                           // window.location.href="/Home/Index";
                        }
                        else if(data.IsSuccess==0){
                            $("#mytoast").show();
                            $("#mytoast").addClass("bg-danger").removeClass('bg-success');
                            $(".toast-body").html("Fill All the fields..");
                            setTimeout(function () { $("#mytoast").hide("slow"); }, 3000);
                            
                        }
                        //localStorage.setItem("token", token);
                        //token = data.toString();
                        //console.log(token);
                        //console.log(typeof (token));
                       // $("body").html(data);
                        //window.location.href = "/Home/Index";
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                return false;
            });

            $('#btnClear').click(function () {
                ulEmployees.empty();
            });
            
            
        });
    </script>
</head>
<body>
                                        <div class="toast bg-danger text-light " role="alert" id="mytoast" style="position: absolute; top: 100px; right: 10px;">

                                                <div class="toast-body text-left col-xs-6">
                                                
                                                LogIn was  UnSuccessful ...checkout the credentials..!
                                                </div>
                                        </div>
    <div class="toast bg-danger text-light  " role="alert" id="logintoast" style="position: fixed; top: 100px; right: 10px;">
        <div class="toast-body text-left col-xs-6">
            Please Login to redirect to pages..!
        </div>
    </div>
    <div class="card shadow-lg p-3  bg-white rounded" style="width:500px;margin:auto;height:450px">
    <div class="container float-start" style="width:400px;padding-top:10px;margin-left:50px">
        <form autocomplete="off" onsubmit="return false">
            <!-- Email input -->
            <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1"><b>Email address</b></label>
                <input asp-for="Email" class="form-control" name="email" />
               
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2"><b>Password</b></label>
                <input asp-for="Password" class="form-control" name="Password" />
                
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">

                <div class="col">
                    <!-- Simple link -->
                    <a href="/Account/ForgetPassword">Forgot password?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4" id="signin">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="/Account/SignUp">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>
