@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<html>
<head>

</head>
<body>
    <form style="width:500px;margin:100px auto" action="/Account/ResetPassword" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Reset Password</legend>
            <table>
                <tr>
                    <td>
                        <label for="email">Your Email:</label>
                    </td>
                    <td>
                        <input type="text" id="email" name="Email" value="@ViewBag.Email" placeholder="@ViewBag.Email" readonly />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Password">Enter New Password:</label>
                    </td>
                    <td>
                        <input type="password" id="Password" name="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ConfirmPassword">Confirm Password:</label>
                    </td>
                    <td>
                        <input type="text" id="ConfirmPassword" name="ConfirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" />
                    </td>
                    <td>
                        <input type="password" id="Token" name="Token" value="@ViewBag.Token" hidden />
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</body>
</html>

