
@model SignUpModel
<script>
    $(document).ready(function(){
        //alert('called');
        $("#evtop").click();
        $("#signup").click(function(){
            
            var array=$("form").serializeArray();
            console.log("called");
            let data={FirstName:array[0].value,LastName:array[1].value,Email:array[2].value,Password:array[3].value,ConfirmPassword:array[4].value}
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                // Make sure to change the port number to
                // where you have the employee service
                // running on your local machine
                url: '/Account/SignUp',
                data: JSON.stringify(data),
                // Specify the authentication header
                // btoa() method encodes a string to Base64
                success: function (data) {
                     data=JSON.parse(data);
                     console.log(data);
                     //if(data.Issuccess==0 || data.Issuccess==-1){
                         
                     //   $("#mytoast").addClass("bg-danger").removeClass("bg-success");
                     //   $("#mytoastbody").text("Enter all the fileds..!")
                     //   $("#mytoast").show();
                     //   setTimeout(function () { $("#mytoast").hide("slow"); }, 3000);
                     //}
                      if(data.Issuccess==-1){
                         $("#mytoast").addClass("bg-danger").removeClass("bg-success");
                        $("#mytoastbody").text("User already Existed please login..!")
                        $("#mytoast").show();
                        setTimeout(function () { $("#mytoast").hide("slow"); }, 3000);
                     }
                     else if(data.Issuccess==1){
                         $("#mytoast").addClass("bg-success").removeClass("bg-danger");
                        $("#mytoastbody").text("registration Successful please wait..!")
                         $("#mytoast").show();
                        setTimeout(function () { $("#mytoast").hide("slow"); window.location.href = "/Account/LogIn"; }, 3000);
                     }
                    //window.location.href = "/Home/Index";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        //$("#mytoast").show();

        //setTimeout(function () { $("#mytoast").hide("slow"); }, 1500);
    })
</script>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
                        <div class="toast bg-danger text-light " role="alert" id="mytoast" style="position: fixed; top: 100px; right: 10px;">
                            <div id="mytoastbody" class="toast-body text-left">
                                Errors Occured..registration is Unsuccessful..!!
                            </div>
                        </div>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3" id="fragment">
        
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form  autocomplete="off" onsubmit="return false">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">First Name</label>
                                    <input type="text" asp-for="FirstName" name="FirstName" id="form3Example1cg" class="form-control form-control-lg" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Last Name</label>
                                    <input type="text" asp-for="LastName" name="LasttName" id="form3Example2cg" class="form-control form-control-lg" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Your Email</label>
                                    <input  asp-for="Email" name="Email" type="email" id="form3Example3cg" class="form-control form-control-lg" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label  class="form-label" for="form3Example4cg">Password</label>
                                    <input asp-for ="Password" name="Password" type="password" id="form3Example4cg" class="form-control form-control-lg" />
                                    
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                    <input asp-for="ConfirmPassword" name="ConfirmPassword" type="password" id="form3Example5cdg" class="form-control form-control-lg" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example6cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                    </label>
                                </div>
                                
                                <div class="d-flex justify-content-center">
                                    <button type="button" id="signup"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                         Register
                                    </button>
                                    <a id="evtop" href="#toppage"></a>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a href="/Account/LogIn"
                                                                class="fw-bold text-body"><u>Login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>