


@model Books
@section scripts{
    <script>

        $(document).ready(function(){
            let base64=null;
            $("#file").change(function (event) {
                let files = event.target.files;
                let reader = new FileReader();
                reader.readAsDataURL(files[0]);
                reader.onloadend = function () {
                    base64 = reader.result;
                    console.log(base64.length);
                }
            });
            $("#submit").click(function(){
                
                let arr=$("form").serializeArray();
                let data={Id:arr[0].value,Title:arr[1].value,Author:arr[2].value,Description:arr[3].value,Img:base64}
                $.ajax('/Home/AddBook',{
                    contentType: "application/json; charset=utf-8",
                    data:JSON.stringify(data),
                    headers:{
                        Authorization:"Bearer "+localStorage.getItem("token")
                    },
                    type:"POST",
                    beforeSend:function(){
                        console.log("sending");
                    },
                    success:function(data){
                        $("body").html(data);
                        console.log('success');
                    },
                    error:function(){
                        console.log("request failed");
                    }
                })
            })
        })
    </script>
}
<html>
<div class="container float-start" style="padding-bottom:100px">
    <div class="row">
        <div class="col-3" style="width:400px">
            <h1>Add New Book</h1><hr />
            <form onsubmit="return false"  autocomplete="off">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Img" class="control-label"></label>
                    <input asp-for="Img" accept="image/*" class="form-control" type="file" id="file" />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <button type="submit" id="submit" class="btn btn-secondary my-2">Submit</button>
            </form>
            
        </div>
        @{if(ViewBag.status==1){
                                        <div class="col-3" id="success-alert" style="padding-top:50px">
                                            <div class="alert alert-success"  role="alert">
                                                Added Successfully..!
                                                @{Console.WriteLine("its going well");}
                                            </div>
                                        </div>
        }}
        @{
            if (ViewBag.status == -1)
            {
                <div class="col-3" id="success-alert" style="padding-top:50px">
                    <div class="alert alert-danger" role="alert">
                        upload failed.
                        @{
                            Console.WriteLine("its went wrong");
                        }
                    </div>
                </div>
            }
        }
    </div>
    
</div>
</html>